<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- <% if (!User) { %>
        <%- include('partials/title'); %>
        <%- include('landing'); %>
    <% } else { %>
        <%- include('partials/title'); %>
        <div class="content">
            <%- include('partials/nav'); %>
            <div class="entries">
                <%- body %>
            </div>
        </div>
    <% } %> -->
    <%- include('partials/title'); %>
    <div class="content">
        <%- include('partials/nav'); %>
        <div class="entries">
            <%- body %>
        </div>
    </div>
    <%- include('partials/footer'); %>

</body>

</html>