<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/title'); %>
    <% if(typeof user === 'undefined') { %>
        <%- body %>
    <% } else { %>
        <%- include('partials/nav') %>
        <div class="content">
           
            <div class="entries">
                <%- body %>
            </div>
            
        </div>
    <% } %>
    <%- include('partials/footer'); %>
</body>

</html>